main {
  height: 896px;
  width: 414px;
  background: #013243;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
}

#container1 {
  display: flex;
  flex-direction: column;
}

#container2 {
  flex-direction: row;
}

#photo1 {
  height: 120px;
  margin-bottom: -10px;
  margin-left: 40px;
}

#photo2 {
  height: 173px;
  margin-bottom: -40px;
  margin-left: 70px;
}

/* Code for z-index found here on 12.07.22: https://www.w3schools.com/cssref/pr_pos_z-index.asp*/
h1 {
  color: #32f5c8;
  font-family: "Sen", sans-serif;
  font-size: 55px;
  padding: 0;
  margin-top: -20px;
  margin-left: 15px;
  z-index: 1;
}

p {
  color: #a9bdc6;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

#description {
  margin-top: -20px;
  margin-left: 15px;
}

button {
  height: 77px;
  width: 301px;
  border-radius: 5px;
  border-style: none;
  background: #32f5c8;
  color: #013243;
  font-family: "Inter", sans-serif;
  font-size: x-large;
  font-weight: bolder;
  margin-left: 15px;
  z-index: 1;
}

#photo3 {
  height: 190px;
  margin-top: -30px;
  margin-left: 210px;
}

footer {
  display: flex;
  flex-direction: row;
  margin-top: 95px;
}

#twitter {
  margin-right: 15px;
  margin-left: 15px;
}

/*Code for media queries found here on 12.07.22: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media only screen and (min-width: 600px) and (max-width: 767px) {
  main {
    height: 1024px;
    width: 767px;
    background: yellow;
  }

  header {
    padding-top: 40px;
    margin-left: 40px;
  }

  h1 {
    font-size: 75px;
    margin-left: 40px;
  }

  #photo1 {
    height: 137px;
  }

  #description {
    margin-left: 40px;
  }

  button {
    margin-left: 40px;
  }

  #photo3 {
    height: 249px;
  }

  #twitter {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 768px) {
  main {
    height: 100%;
    width: 100%;
    background: red;
  }
}
