main {
  height: 896px;
  width: 414px;
  background: #013243;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 15px;
  margin-bottom: 50px;
  margin-left: 15px;
}

h1 {
  color: #32f5c8;
  font-family: "Sen", sans-serif;
}

p {
  color: #a9bdc6;
  font-family: "Inter", sans-serif;
}

button {
  height: 77px;
  width: 301px;
  background: #32f5c8;
  color: #013243;
  font-family: "Inter", sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#twitter {
  margin-right: 15px;
  margin-left: 15px;
}
